/* Typography */

h1, h2, h3, h4 {
	font-family: "Roboto", sans-serif;
  font-variant: small-caps;
}

p, a, label, input {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

/* Layout */
html {
  height: 100%;
}

body {
	background-color: #EBEBEB;
	width: auto;
  min-height: 100%;
  padding-bottom: 0;
  position: relative;
}

.page-header {
	background-image: url("../images/headerWallpaper002.png");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  position: relative;
}

.page-header img {
  display: block;
  height: 80px;
  width: auto;
  position: relative;
  top: 10px;
  left: 20px;
}

.navbar {
	background-color: #1A1A1A;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
  height: 10px;
	position: relative;
}

.list-inline a {
  font-size: 18px;
	color: #B3B3B3;
  font-variant: small-caps;
	margin-top: 12px;
	display: inline-block;
}

.list-inline a:hover {
	cursor: pointer;
	color: #FFF;
	text-decoration: none;
	transition: 400ms;
}

.container-fluid.movieSession {
  background-image: url("../images/quintaAvenida005.png");
  background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

.container.movieSession {
  padding-top: 10px;
  padding-bottom: 40px;
  height: auto;
  position: relative;
}

.container-fluid.aboutSession {
	background-image: url("../images/aboutSessionWallpaper.png");
  background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  width: 100%;
  height: auto;
	color: #B3B3B3;
	padding: 20px 40px 0 40px;
  position: relative;
}

.container-fluid.contactSession {
	width: 100%;
	height: auto;
	padding: 40px 40px 0 40px;
	position: relative;
}

.form-group label {
  font-size: 20px;
  font-weight: bold;
}

.form-group input {
  line-height: 28px;
  padding-left: 20px;
}

button {
  margin: 0 0 20px 16px;
  width: 150px;
}

.footer {
  background-color: #1A1A1A;
  left: 0;
  right: 0;
  bottom: 0;
  width; 100%;
  margin-top: 0px;
  height: auto;
  position: relative;
}

.footer li {
  display: inline-block;
}

.footer img {
  text-align: left;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 16px;
  margin-bottom: 0;
}

.footer p {
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
  font-size: 12px;
  color: #B3B3B3;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.footer a {
	color: #B3B3B3;
	text-decoration: none;
}

.footer a:hover {
	cursor: pointer;
	color: #FFF;
	text-decoration: none;
	transition: 200ms;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
